## 通用配置文件

CONFIG_CCACHE=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y

# CONFIG_FEED_nss_packages is not set
# CONFIG_FEED_sqm_scripts_nss is not set
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set

CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-xhci=y

CONFIG_PACKAGE_tmux=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_btop=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_tune2fs=y
CONFIG_PACKAGE_lucky=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_fstrim=y
CONFIG_PACKAGE_mmc-utils=y
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_PACKAGE_hdparm=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_acme-acmesh-dnsapi=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y

CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-cpufreq=y
# CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_luci-app-upnp=n
# CONFIG_PACKAGE_luci-app-wolplus=n
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
# CONFIG_PACKAGE_luci-app-aria2=n
CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-quickstart=n
CONFIG_PACKAGE_luci-app-control-weburl=y
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-lucky=y
# CONFIG_PACKAGE_luci-app-banip=n
# CONFIG_PACKAGE_luci-app-acme=n
CONFIG_PACKAGE_luci-app-parentcontrol=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_ariang=y
# CONFIG_PACKAGE_adguardhome=n
# CONFIG_PACKAGE_luci-app-socat=n
# CONFIG_PACKAGE_luci-proto-wireguard=n
# CONFIG_PACKAGE_luci-app-watchcat=n
# CONFIG_PACKAGE_luci-app-store=n

#  docker kernel dependencies
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-veth=y

#  iptables nft
CONFIG_PACKAGE_kmod-nf-tproxy=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y

#  docker dependencies
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
CONFIG_PACKAGE_libip4tc=y
CONFIG_PACKAGE_libip6tc=y
#  mwan3 dependencies
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
